.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/.obsidian/
content/.trash/
content/1\ -\ Rough\ Notes/
content/5\ -\ Template/
content/8\ -\ Source\ Images\ +\ Audio/
content/9\ -\ Video\ Ideas/

